extends ../shared/template
block content
  .container
    #vacation(data-name=vacation.name, data-lat=vacation.coordinates.lat, data-lng=vacation.coordinates.lng)
      #banner.page-header
        .row
          .col-xs-12
            h1#header= vacation.name
      .row
        .col-xs-6
          #map
        .col-xs-6
          .row
            .col-xs-12
              table.table
                tr.info
                  th Start
                  th End
                  th Latitude
                  th Longitude
                  th Photos
                tr
                  td= moment(vacation.start).format('ll')
                  td= moment(vacation.end).format('ll')
                  td #{vacation.coordinates.lat.toFixed(8)}
                  td #{vacation.coordinates.lng.toFixed(8)}
                  td #{vacation.photos.length}
          .row
            .col-xs-12
              form(role='form', method='post', action='/vacations/#{vacation._id}/photos/download')
                .form-group
                  label(for='url') Photo URL
                  input.form-control#photo(type='text', name='url', placeholder='http://photo.url.jpg')
                button.btn.btn-success(type='submit') Add Photo
          .row
            .col-xs-12
              form(role='form', method='post', action='/vacations/#{vacation._id}/photos/upload', enctype='multipart/form-data')
                .form-group
                  label(for='photos') Photos
                  input.form-control#photos(type='file', name='photos', multiple=true)
                button.btn.btn-success(type='submit') Add Photos
    .row
      .col-xs-12
        each photo in vacation.photos
          .photo.thumbnail(style='background-image:url(#{photo});')

  block scripts
    script(src='/js/user/vacations-id.js')
